
  <div class="container">
    <div>
      <div>
        <h1>Login</h1>
        <p>Please sign-in to your account and start the adventure
        </p>
      </div>
      <div>
        <div class="input-container">
          <input type="text" placeholder="Username">
        </div>
        <div class="input-container">
          <input type="password" placeholder="Password">

        </div>
      </div>
      <div class="login">
        <a href="#"><button (click)="onClickLogin()">LOGIN</button></a>
        <div><span>New on our platform? </span>   <a href="#">Create a count</a></div>
      </div>
    </div>
  </div>

