<div class="w-1/1 h-screen text-center flex flex-col items-center justify-center ">

  <div class="w-[375px] h-96 flex flex-col gap-10 justify-center bg-white rounded-2xl">

    <h1 class="text-4xl">LOGIN</h1>

    <form class="flex flex-col gap-5 items-center">

    <dx-text-box class="w-[250px] rounded-sm" placeholder="Username" value="" #username>
        <dx-validator>
            <dxi-validation-rule type="required" ></dxi-validation-rule>
        </dx-validator>
    </dx-text-box>


    <dx-text-box  mode="password" class="w-[250px] rounded-xl" placeholder="Password" >
        <dx-validator>
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
    </dx-text-box>


    <dx-button class="w-[250px] bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 font-bold text-white hover:scale-105"
        text="Log in"
        type="button"
        [useSubmitBehavior]="true"
        (click)="loginClick()"
        >
    </dx-button>


</form>

  </div>

</div>
