<nav class="absolute flex w-full h-[60px] px-3 left-0 bg-violet-500 justify-between items-center" *ngIf=" isLogged">
  <ul class="flex gap-5 text-white list-none	">
    <li><a class="hover:text-white cursor-pointer font-bold">Dashboard</a></li>
    <li><a class="hover:text-white cursor-pointer font-bold">Perfil</a></li>
  </ul>
  <button class="text-white font-bold" (click)="onLogout()">Log out</button>
</nav>
<app-login *ngIf="!isLogged" (login)="onSignIn()"></app-login>
<div class="w-full h-[100vh] flex items-center justify-center mx-auto gap-10 flex-wrap pt-[100px]" *ngIf="isLogged">
  <app-bar-graph class="max-w-[500px] w-[500px]"></app-bar-graph>
  <app-bar-chart class="max-w-[500px] w-[500px]"></app-bar-chart>
</div>

<app-perfil *ngIf="isLogged"></app-perfil>

